@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

h1 {
    font-size: 3rem;
    position: relative;
}

p {
    font-size: 1.7rem;
    margin: 0;
}


.title {
    position: relative;
    width: 400px;
    text-align: center;
}

.title img {
    position: absolute;
    right: 0;
    bottom: 25px;
}

abbr {
    position: absolute;
}

sup {
    margin-left: 15px;
    cursor: pointer;
    transition: all .3s;
}

sup:hover {
    font-size: 3.3rem;
    transition: all .3s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    min-width: 800px;
    min-height: 400px;
    border-radius: 10px;
    background-color: rgb(48 0 64 / 50%);
    backdrop-filter: blur(4px);
    padding-top: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

form {
    text-align: center;
}

label {
    font-size: 2rem;
}

form input {
    margin: 20px 0;
    text-align: left;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}

input:focus-visible {
    outline: 0;
}

button {
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    padding: 5px 0;
    border: 0;
    border-radius: 20px;
    transition: all .3s;
}

button:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.container-result {
    margin: 50px 0;
    max-width: 640px;
    background-color: rgba(79, 0, 151, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.error {
    background-color: rgb(122, 16, 16);
}

.whatIs {
    display: none;
    max-width: 800px;
    min-height: 200px;
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: rgba(79, 0, 151, 0.5);
    position: relative;
}

.whatIs button {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    background: #1a0536;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

cite {
    font-family: monospace;
}

.explanation {
    font-size: 1.4rem;
}

